.gptxPopupBody {
  --popup-body-height: 170px;
  height: var(--popup-body-height);
  width: 180px;
}
.container.gptxPopupContainer {
  height: var(--popup-body-height);
  padding: 0;
}
.gptxPopupCard {
  height: var(--popup-body-height);
}
.card-header.gptxPopupCardHeader {
  display: inline-flex;
  padding: 5px;
}
#gptxPopupCardHeaderText {
  padding-left: 8px;
}
.card-body.gptxPopupCardBody {
  padding: 5px;
}
.gptxDivider {
  border-top: 1px solid rgba(0,0,0,.06);
  width: 100%;
}
.gptxQuickSettings {
  padding-left: 5px;
}
.gptxQSHeader {
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 14px
}
.gptxSwitch {
  padding-top: 15px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.gptxSwitchLabel {
  display: inline-block;
  padding-top: 2px;
  --switch-width: 32px;
  --switch-height: calc(var(--switch-width)/2);
  --switch-border-radius: calc(var(--switch-height)/2);
}
#gptxEnableExtensionLabel {
  font-size: 14px;
}
.gptxSwitchCheckboxInput {
  display: none;
}
.gptxSwitchCheckboxInput__fill {
  position: relative;
  width: var(--switch-width);
  height: var(--switch-height);
  border-radius: var(--switch-border-radius);
  background: #DDDDDD;
  transition: background 0.2s;
}
.gptxSwitchCheckboxInput__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--switch-height);
  width: var(--switch-height);
  background: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--switch-border-radius);
  transition: transform 0.2s;
}
.gptxSwitchCheckboxInput:checked ~ .gptxSwitchCheckboxInput__fill  {
  background: #009578;
}
.gptxSwitchCheckboxInput:checked ~ .gptxSwitchCheckboxInput__fill::after  {
  transform: translateX(var(--switch-height));
}
.card-footer.gptxPopupCardFooter {
  display: inline-flex;
  justify-content: end;
  padding: 2px 5px;
  width: 100%;
}
#gptxViewHistory {
  width: 30px;
  height: 30px;
  padding: 0;
  /* border-radius: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#gptxViewHistory:hover {
  background-color: var(--color-refresh-hover);
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-refresh-hover: #5f63681d;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-refresh-hover: #5f636874;
  }
}