.gptxCard {
  width: 70%;
  border-radius: 10px;
  border-width: "0.2px";
  padding: 0 10px 5px 10px;
  font-size: 16px;
  margin-bottom: 30px;
}
#gptxLoadingPara {
  text-align: right;
  width: 100%;
  display: inline;
  margin-bottom: 0px;
  color: #70757a;
  font-size: 12px;
  font-weight: 700;
}
#gptxTimePara {
  text-align: right;
  font-size: 12px;
  color: #828282;
  margin-top: -16px;
  margin-left: 3px;
}
#gptxCardBody {
  width: 100%;
  overflow-y: auto;
  max-height: 225px;
}
#gptxCardFooter {
  display: inline-flex;
  justify-content: end;
  width: 100%;
}
.gptxFooterBtns {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gptxFooterBtns:hover {
  background-color: var(--color-refresh-hover);
}
.gptxDisableBtn {
  pointer-events: none;
  opacity: 0.4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-refresh-hover: #5f63681d;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-refresh-hover: #5f636874;
  }
}