.container-fluid.gptxHistoryContainer {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.gptxEmptyHistory {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 56px);
  font-size: 18px;
  font-style: italic;
  color: #666;
}
.gptxQuestionDiv {
  display: flex;
  color: white;
  background-color: #343541;
  padding-right: 10px;
}
.gptxAnswerDiv {
  display: flex;
  color: white;
  background-color: #444654;
  padding-right: 20px;
}
.gptxQAType {
  padding: 10px 20px 10px 20px;
}
.gptxQAContent {
  padding: 10px;
}
#gptxHistorySettingsColumn {
  background-color: #202123;
  color: white;
}
.gptxHistoryNav {
  background-color: #292a2d;
  color: white;
}
.gptxNavbarBrandIcon {
  margin-left: 20px;
  margin-right: 20px;
}
#gptxHistoryQAColumn {
  padding: 0;
  overflow-y: auto;
  height: calc(100vh - 56px);
}
.gptxSettingsButtons {
  padding: 10;
  margin: 10px 0 10px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.gptxSettingsButtons:hover {
  background: #343541;
}
.row.gptxHistorySettingsRow {
  background: #343541;
}
